/* - - - - - - - - - 원석 - - - - - - - - - */
/* color */
/* layout */


/* - - - - - - - - - 진욱 - - - - - - - - - */
/* typography */

:root {
    --font: 'Inter', sans-serif;
    --font-w-bold:700;
    --font-w-regular:400;
    --pricolor:#5409DA;
    --subcolor:#06D0DA;
    --headcolor:#101014;
    --main-text-color:#222222;
    --sub-text-color:#666666;
    --whitecolor:#F5F5FA;
    --line-height:24px;
}

body{
    font-family: var(--font);
    color:var(--main-text-color);
    line-height: var(--line-height);
}
.headernav{
    font-size: 18px;
    color: var(--whitecolor);
    font-weight:var(--font-w-regular) ;
}

 


/* - - - - - - - - - 아랑 - - - - - - - - - */
/* link */



