/* - - - - - - - - - 원석 - - - - - - - - - */

/*variants*/
:root{
  --bigContainer:1320px;

  --lh:24px;

  --black: rgba(16, 16, 20, 1);
  --white: rgba(245, 245, 250, 1);
  --main-text: rgba(34, 34, 34, 1);
  --sub-text: rgba(102, 102, 102, 1);
  --primary: rgba(84,9, 218, 1);
  --sub: rgba(6, 208, 218, 1);
  --error:rgba(220, 53, 69, 1);
  --small-shadow:0px 1px 4px rgba(0,0,0,0.1);
  --regular-shadow:0px 4px 10px rgba(0,0,0,0.12);
  --large-shadow:0px 8px 35px rgba(0,0,0,0.16);
  
}

/* color */


/* layout */

.big-container{
  width:var(--bigContainer);
  margin: 0 auto;
}



/* - - - - - - - - - 진욱 - - - - - - - - - */
/* typography */


body{
    font-family:'Inter', sans-serif;
    color:var(--main-text);
}


 


/* - - - - - - - - - 아랑 - - - - - - - - - */
/* link(button) */
.tab_btns{
  color: var(--main-text);
  border: 1px solid var(--main-text);
  border-radius:35px;
  padding: 12px 20px;
  line-height: var(--lh);
  display: inline-block;
}

.tab_btns .active{
  color: rgba(84,9, 218, .3);
  border: 1px solid  rgba(84,9, 218, .3);
  shadow: var(--small-shadow);
  font-size: bold;
}

.sign_btn{
  color: var(--main-text);
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 35px;
  padding: 6px 20px;
  line-height: var(--lh);
  display: inline-block;
}

.sign_btn .active{
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
  shadow: var(--small-shadow);
}
