
.event-container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 96px 0;
}
.event_mainbanner{
  width:100%;
}
.event_mainbanner img{
  width: 100%;
  
}


.event .h1{
  text-align: center;
}



.tab{
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--lh);
  gap: 12px;
}


.event_lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
  
}

.event_list {
  max-width: 424px;
  width: 100%;
  background: #fff;
  box-shadow: var(--small-shadow);
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 0; 
  overflow: hidden;
 
}
.event_lists .event_list .event_desc{
  padding: 16px 10px;
}
 .event_list img{
  width: 100%;
  aspect-ratio: 1 / 1;      /* 정방형 비율 */
  height: auto;             /* 자동 높이 (aspect-ratio가 있으니 자동 적용) */
  object-fit: cover;        /* 비율이 다르면 잘라서 꽉 채움 */
  border-radius: 12px;
  display: block;
  
  
}

.pagination{
  gap:4px;
}

.pagination .page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff; 
}

.pagination .page-item .page-link {
  color:var(--primary) ;
}


@media (max-width: 1320px) {
  .event-container{
    /* width:100%; */
    padding: 96px 48px;

  }
}

@media (max-width: 768px) {
  .event_lists {
    grid-template-columns: repeat(2, 1fr); /* 2단 */
  }
  .event_list {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .event_lists {
    grid-template-columns: 1fr; /* 1단 */
  }
}