@import url('reset.css');
@import url('common.css');


/*WS*/

.main_section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}



.mslides-container {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 1;
}

.mslide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.mslide1 { background-image: url('../image/main_slide1.png'); }
.mslide2 { background-image: url('../image/main_slide2.png'); }
.mslide3 { background-image: url('../image/main_slide3.png'); }
.mslide4 { background-image: url('../image/main_slide4.png'); }
.mslide5 { background-image: url('../image/main_slide5.png'); }

.mslide.active {
  opacity: 1;
  z-index: 2;
}


.main-title-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:var(--white);
  text-shadow: 0 2px 8px rgba(0,0,0,0.3);
  position: absolute;
  left:102px;
  bottom:82px;
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 0.7s cubic-bezier(.4,0,.2,1), transform 0.7s cubic-bezier(.4,0,.2,1);
  font-family: "Do Hyeon", sans-serif;
 
}
.main-title-area .main-title{
  font-weight: 400;
  font-style: normal;
}

.mslide.active .main-title-area {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}

.main_paginations{
  position: absolute;
  left:0;
  right: 0;
  z-index: 1;
  bottom: 24px;
}

.main_paginations ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;

}
.main_paginations li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
  transition: background 0.3s;
}
.main_paginations li.active {
  background: #333;
}
.mob_navigation{
  display: none;
  padding:72px 0;
}




/* like 버튼*/

.likes .line-heart,
.likes .fill-heart{
  width: 28px;
  height: 28px;
  fill: var(--white);
}

.likes .fill-heart{
  display: none;
  fill: rgb(255, 87, 87);

}

.likes svg.active
{
  fill:rgb(255, 87, 87);

}

/*투어리스트 섹션*/

.travel-container {
  width: 1320px;
  margin: 0 auto;
  padding-top: 72px;
}

.bannerSlider {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin-bottom:calc(var(--lh) * 6);;
}
.bannerslider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.travel-banner {
  min-width: 100%;
  position: relative;
}
.travel-banner a {
  display: block;
  width: 100%;
  height: 100%;
}

.travel-banner img {
  width: 100%;
  /* height: 144px;
  object-fit: cover;
  display: block; */
}

/* 슬라이드 인디케이터 */
.slide-indicator {
  position: absolute;
  top: 10px;
  right: 20px;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  /* z-index: 10;/ */
}

/* 점 인디케이터 */
.dots-indicator {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: white;
}






.travel-cards,
.concept-cards {
  display: flex;
  gap:24px;
  position: relative;
  padding-bottom: 10px;
  
}

.travel-card {
  background: #fff;
  border-radius: 16px;
  box-shadow:var(--small-shadow);
  overflow: hidden;
  width:312px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;
}

.product_img{
  position: relative
}

.travel-card button{
  position: absolute;
  padding: 0;
  right: 10px;
  bottom: 10px;
}

.travel-card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}

.travel-card img {
  width: 100%;
  object-fit: cover;
}



.card-content {
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content ul {
  color: #333;
}

.card-content ul li {
  margin-bottom: 4px;
}
.card-content div{
  margin-top: var(--lh);
}

.card-tags {
  margin-top: 10px;
  font-size: 14px;
  word-break: keep-all;
  color: var(--sub-text);
}






/* 아랑 */
.card-content{
  border-radius: 15px;
  box-shadow: var(--small-shadow);
  position: relative;
  height: 240px;
}


.youtube_shorts {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
}
.swiper {
  position: relative;
  padding: 0 12px;
  background: none;
}

.swiper-slide{
  padding: 0; 
  overflow: hidden;
}
.iframe-wrapper{
      width: 100%;
      aspect-ratio: 9 / 16;
      overflow: hidden;
      position: relative; 
}
.swiper-slide iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
  border: none;
}
.youtube-placeholder {
  width: 100%;
  aspect-ratio: 9 / 16;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

.youtube-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.youtube-placeholder .play-btn {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.swiper-button-prev,
.swiper-button-next {
  all: unset;
  color: var(--sub-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev{
  left: -6%;
}

.swiper-button-next{
  right: -6%;
}

.travel-cards-container,.slider-container {
  position: relative;
  overflow: hidden;
  padding: 0 20px; /* 좌우 그림자 공간 확보 (그림자 크기에 맞게 조정) */
}

.slider-wrapper{
  position: relative;
  margin: 0 -20px;
}


.slider-container{
  padding-bottom: 12px;
}

.contents_prev_btn,
.contents_next_btn{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 1;
}

.contents_prev_btn{
  color: var(--sub-text);
  left: -6%;
}
.contents_next_btn{
  color: var(--sub-text);
  right: -6%;
}

.tab{
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--lh);
  gap: 12px;
}


.best-travel-title {
  /* font-size: 40px; */
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}
.monthly-travel .card{
  width: 312px;
  box-shadow: var(--small-shadow);
}
.weather-info{
  display: flex;
}
.weather-info img{
  width: 48px;
  height: 48px;
}
.weather-slider {
  width: 100%;
  overflow: hidden;
  padding: 48px 0;
}

.weather-cards {
  display: flex;
  gap: 16px;
  
}

.weather-cards .card{
  width: 312px;
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
  border: none;
}

.card-body{
  padding: 0;
}

.card-body .weather-title{
  font-size: 19px;
  font-weight: bold;
}

.card-body p{
  padding: 12px;
}

.slides_btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides_btns button{
  color: #cfcfcf;
}
/* - - - - slides 재생/정지 버튼 - - - - */

.play_icon {
  transition: filter 0.2s ease, color 0.2s ease;
}
.play_btn:hover,
.play_btn.active {
  color: var(--primary); 
  opacity: 0.8;
}
.play_btn:hover .play_icon {
  filter: drop-shadow(var(--small-shadow));
}
.stop_icon {
  transition: filter 0.2s ease, color 0.2s ease;
}
.stop_btn:hover,
.stop_btn.active {
  color: var(--primary); 
  opacity: 0.8;
}
.stop_btn:hover .stop_icon {
  filter: drop-shadow(var(--small-shadow));
}








/* 진욱 */
.section_title{
  text-align: center;
  padding: 58px 0;
}

.section_title h5{
  line-height:24px;
  font-weight: bold;
}

.youtube{
  overflow: hidden;
  position: relative;
  /*background: linear-gradient(to bottom, rgba(6, 208, 218, 0.6), #fff 50%);*/
}
.youtube::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 50%;
  background: linear-gradient(to bottom, rgba(6, 208, 218, 0.6), #fff);
  z-index: -1;
}

.youtube_video {
  padding: 0 60px;
  overflow: visible;
}

.youtube_video .swiper-slide {
  width: 800px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube_video .story{
  width: 100%;
  padding-bottom: var(--lh);
}

.youtube_video .iframe-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  object-fit: cover;
}

.youtube_video .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  
}
.youtube_video .youtube-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;

 
}

.youtube_video .youtube-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: none;
 
}

/* .youtube_video .youtube-placeholder .play-btn {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  display: flex; align-items: center; justify-content: center;
  cursor: pointer;
  z-index: 2;
} */

.story .h3{
  line-height: 30px;
}

.story .h5{
  color: var(--sub-text);
  font-weight: 600;
}

.prev_btn,
.next_btn{
  fill: #cfcfcf;
  opacity: 0.4;
  transition: .3s ease-out;
  transform: scale(1);
}

.prev_btn:hover,
.next_btn:hover{
  opacity: 0.8;
  transition: .3s ease;
  transform: scale(1.1);
}

.prev_btn{
  left: 10px;
}
.next_btn{
  right: 10px;
}

.side_bar{
  position: fixed;
  z-index: 5000;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap:12px;
  
}
.side_bar button{
  width:38px;
  height: 38px;
  position: relative;
}
.side_bar button svg{
  position: absolute;
  top:0;
  left: 0;
}

.side_bar button svg circle{
  transition:fill 0.3s ease; ;
}
.side_bar button:hover svg circle {
 fill:var(--primary);
}


.side_bar .history,
.side_bar .likes,
.side_bar .tell {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.4s, transform 0.4s;
 
}

.side_bar.hide-menu .history,
.side_bar.hide-menu .likes,
.side_bar.hide-menu .tell {
  opacity: 1;
  transform: translateY(0);
 
}
.side_bar .likes_ct{
  content: '';
  display: none;
  width:25px;
  height: 15px;
  line-height: 15px;
  border-radius: 10px;
  position: absolute;
  right:-10px;
  bottom: -5px;
  background: var(--sub-text);
  color: var(--white);
  font-size: 12px;
}



/*반응형 작성 구간*/

/*1320이하*/
@media (max-width: 1320px){
  .travel-container,
  .youtube_shorts{
    width:100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .swiper {
    padding: 0 0;
}


.contents_prev_btn {
  left: 0; /* 또는 원하는 만큼 양수로 조정 */
}
.contents_next_btn {
  right: 0; /* 또는 원하는 만큼 양수로 조정 */
}
.swiper-button-prev{
  left: 0;
}

  .swiper-button-prev{
    left: 0;
  }

  .swiper-button-next{
    right: 0;
  }

  .contents_prev_btn,
  .contents_next_btn {
    top: 50%;
    bottom: 16px;
    transform: none;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.35); /* 반투명 검정 */
    color: #fff; /* 아이콘은 흰색 */
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 2;
    border: none;
    opacity: 0.4;
    transition: opacity 0.3s;
  }
  .contents_prev_btn:hover,
  .contents_next_btn:hover{
    opacity: 0.8;
  } 
  .contents_prev_btn { left: 10px; right: auto; }
  .contents_next_btn { right: 10px; left: auto; }

  
}

/*768이하구간*/


@media (max-width: 768px) {
  .main_section  {
    min-height: 550px;
    border-radius: 0 0 35px 35px;
    max-height: 600px;
  }
  .main-title-area {
    left:24px;
    bottom:24px;
  }
  .main-title{
    font-size: 1.3rem;
  }
  .main-desc{
    font-size: 1rem;
  }

  .bannerSlider{
    margin-bottom: calc(var(--lh) * 2);
  }
  
  .youtube_shorts{
    width:100%;
    padding-left: 24px;
    padding-right: 0;
  }
  .side_bar{
    bottom: 20px;
    right: 20px;
  }
  .section_title{
    text-align: center;
    padding: 58px 24px;
  }
  .section_title .h5{
    font-weight: 500;
    font-size: 16px;
  }
 
}


@media (max-width: 768px) {
  .mob_navigation{
    display: block;
  }
  .mob_navigation ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    gap:24px;
  }
  .mob_navigation ul li{
    flex: 0 0 calc(25% - 24px); 
   box-sizing: border-box;
  }
  .mob_navigation ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;

  }
  .mob_navigation ul li a img{
    max-width: 50px;
  }
  .mob_navigation ul li a span{
    font-size: 14px;
    font-weight:500;
  }
  .travel-container {
    padding-top: 0px;
}

}


@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}


@media (max-width: 1320px){
  .travel-container{
    width:100%;
  }
}
@media (max-width: 768px) {

  .slide-indicator {
      top: 15px;
      right: 15px;
      padding: 6px 10px;
      font-size: 11px;
  }
  
  .dots-indicator {
      bottom: 15px;
  }
  

}


@media (max-width: 567px) {
  .main_section  {
    min-height: 400px;
    max-height: 450px;
  }
  .mob_navigation {
    
    padding-top: 36px;
    padding-bottom: 72px;
  }
  .youtube-placeholder .play-btn {
    width: 70px;
  }
  
}
